<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titre%}{% endblock%} | NomDuSite</title>
</head>

{%block contenu%}
<h1>TITRE INDEX</h1>
{%endblock%}

